{#
/**
 * @file
 * Theme override to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 */
#}
{%
  set classes = [
    'list-group',
    'uk-list',
    'uk-list-line',
    'uk-list-space',
  ]
%}
{% if types is not empty %}
  <ul{{ attributes.addClass(classes) }}>
    {% for type in types %}
      <li>
        <i class="uk-admin-icon-xsmall uk-admin-icon-top uk-admin-vertical-top uk-icon-chevron-circle-right uk-text-muted"></i>
        <div class="uk-margin-left uk-display-inline-block">
          <span class="uk-text-bold">{{ type.add_link }}</span>
          <div class="uk-text-muted">{{ type.description }}</div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      You have not created any content types yet. Go to the <a href="{{ create_content }}">content type creation page</a> to add a new content type.
    {% endtrans %}
  </p>
{% endif %}
