{#
/**
 * @file
 * Default theme implementation for a UIkit Accordion.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - title: The title of the accordion item.
 *   - content: The content of the accordion item.
 * - attributes: HTML attributes to be applied to the accordion.
 *
 * @see template_preprocess_uk_accordion()
 */
#}
{%- if items -%}
  <ul{{ attributes }}>
    {%- for item in items -%}
      <li>
        <h3 class="uk-accordion-title">{{ item.title }}</h3>
        <div class="uk-accordion-content">{{ item.content }}</div>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
