{#
/**
 * @file
 * Theme override to display the navbar region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see uikit_preprocess_region()
 *
 * @ingroup uikit_themeable
 */
#}
<div class="uk-navbar-container uk-margin-bottom">
  <div class="uk-container uk-container-large">
    <nav class="uk-navbar">

      {% if content_left %}
        <div class="uk-navbar-left">
          {{ content_left }}
        </div>
      {% endif %}

      {% if content_center %}
        <div class="uk-navbar-center">
          {{ content_center }}
        </div>
      {% endif %}

      <div class="uk-navbar-right">
        <a uk-navbar-toggle-icon href="#offcanvas" uk-toggle class="uk-navbar-toggle uk-margin-small-right uk-hidden@m"></a>
        {% if content_right %}
          {{ content_right }}
        {% endif %}
      </div>
    </nav>
  </div>
</div>
