/* CSS reset/normalize plus HTML element styling. */
html {
  background: #f8f8f8;
  height: 100%;
}
a {
  color: #1f6f9e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}
a:focus, a:hover {
  color: #0b5885;
}
blockquote {
  font-size: 1.125rem;
  border-left: 5px solid #e5e5e5;
  padding-left: 15px;
}
details>summary {
  cursor: pointer;
}
details:focus,
details>summary:focus {
  outline: 0;
}