/* Discrete, reusable UI elements. */
.contextual {
  right: -6px;
  top: 0;
}
.contextual+.uk-h1,
.contextual+.uk-h2,
.contextual+.uk-h3,
.contextual+.uk-h4,
.contextual+.uk-h5,
.contextual+.uk-h6,
.contextual+h1,
.contextual+h2,
.contextual+h3,
.contextual+h4,
.contextual+h5,
.contextual+h6 {
  margin-top: 0;
}
.uk-container {
  padding-left: 15px;
  padding-right: 15px;
}
.uk-grid {
  margin-left: -15px;
}
.uk-grid>* {
  padding-left: 15px;
}
@media (min-width: 640px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .uk-grid {
    margin-left: -15px;
  }
  .uk-grid>* {
    padding-left: 15px;
  }
}
@media (min-width: 960px) {
  .uk-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .uk-grid {
    margin-left: -15px;
  }
  .uk-grid>* {
    padding-left: 15px;
  }
}
.uk-alert-primary {
  background: #b5d7eb;
  color: #0b5885;
}
.uk-alert-success {
  background: #b4efd1;
  color: #1aae63;
}
.uk-alert-warning {
  background: #ffe3c0;
  color: #f89925;
}
.uk-alert-danger {
  background: #ffcfc0;
  color: #f85825;
}
.uk-breadcrumb {
  background: #fff;
  margin: 0;
  padding: 0 0 15px;
}
.uk-breadcrumb>*>.uk-icon {
  vertical-align: text-bottom;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
  margin: 0 10px;
}
.uk-button-default {
  color: #619ec2;
  border-color: #619ec2;
}
.uk-button-default:focus,
.uk-button-default:hover {
  color: #3f7fa5;
  border-color: #3f7fa5;
}
.uk-button-default.uk-active,
.uk-button-default:active {
  color: #266a93;
  border-color: #266a93;
}
.uk-button-primary {
  background-color: #1f6f9e;
}
.uk-button-primary:focus,
.uk-button-primary:hover {
  background-color: #0b5885;
}
.uk-button-primary.uk-active,
.uk-button-primary:active {
  background-color: #054469;
}
.uk-button-danger {
  background-color: #f85825;
}
.uk-button-danger:focus,
.uk-button-danger:hover {
  background-color: #d13807;
}
.uk-button-danger.uk-active,
.uk-button-danger:active {
  background-color: #a52800;
}
.uk-link {
  color: #1f6f9e;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}
.uk-link:focus,
.uk-link:hover {
  color: #0b5885;
}
.uk-subnav>*>:first-child {
  padding: 5px 0;
}

h1.page-title {
  font-size: 36px;
  margin: 0;
  padding: 15px 0;
}
h2.comment-title {
  font-size: 28px;
  margin: 30px 0 15px !important;
}

.block-page-title-block,
.block-system-breadcrumb-block {
  background: #fff;
  padding: 0 15px;
}
.block-page-title-block,
#page--content:not(.page-breadcrumb-hidden) #region--content .block-system-breadcrumb-block {
  border-bottom: 4px solid #1f6f9e;
}
.block-system-messages-block .uk-alert {
  margin: 15px 0;
}
#page--content.page-title-hidden .block-local-tasks-block .uk-tab {
  padding-left: 15px;
}
.block-system-main-block {
  background: #fff;
  margin-top: 15px;
  padding: 15px;
}
body.path-frontpage .block-system-main-block,
body[class*=page-node] .block-system-main-block {
  background: transparent;
  padding: 0;
}
body.path-frontpage .block-system-main-block {
  margin-top: 0;
}

.comment-links {
  margin-bottom: 0;
}

.form-actions {
  margin-bottom: 0;
}

.node--view-mode-teaser>h2.uk-text-lead a {
  text-decoration: none;
}

.form--search-block-forn .form-actions {
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: 0 !important;
  text-align: center;
}
.form--search-block-forn .form-actions button {
  height: 40px;
  width: 40px;
}

.see-footnote {
  vertical-align: baseline;
  position: relative;
  top: 0;
  font-size: inherit;
  padding: 0 2px;
}
ul.footnotes {
  border: 0;
  margin: 20px 0;
}
ul.footnotes li {
  overflow-wrap: break-word;
  padding: 4px;
}
