/* Purely visual styling (“look-and-feel”) for a component. */
#page {
  background: #e8e8e8;
}
#page--navbar {
  background: #1f6f9e;
}
#page--navbar .uk-navbar-toggle {
  color: #abc9cb;
}
#page--navbar .uk-navbar-toggle:focus,
#page--navbar .uk-navbar-toggle:hover {
  color: #fff;
}
#page--sidebar-first {
  background: #1f6f9e;
  color: #abc9cb;
  padding-right: 15px;
}
#page--sidebar-first a {
  color: #abc9cb;
}
#page--sidebar-first a:focus,
#page--sidebar-first a:hover {
  color: #fff;
}
#page--image .page-title {
  color: #fff;
}
#page--image .block {
  background: transparent;
}
#page--image .block .uk-breadcrumb {
  background: transparent;
  padding: 0;
}
#page--image .block .uk-breadcrumb>*>*,
#page--image .block .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
  color: #e8e8e8;
}
#page--image .block .uk-breadcrumb>:last-child>*,
#page--image .block .uk-breadcrumb>*>*:focus,
#page--image .block .uk-breadcrumb>*>*:hover {
  color: #c5c5c5;
}

.region-sidebar-second .block {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
}
.uk-hidden\@l .region-sidebar-second .block {
  background: transparent;
  margin: 0;
  padding: 0;
}

.node {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
}
.node:last-child {
  margin-bottom: 0;
}
.node--view-mode-teaser {
  padding: 0 15px;
}
.views-row:first-child .node--view-mode-teaser,
.contextual+.views-row .node--view-mode-teaser {
  padding-top: 15px;
}
.views-row:last-child .node--view-mode-teaser {
  padding-bottom: 15px;
}
.views-row:last-child .node--view-mode-teaser hr {
  display: none;
}
.node--links {
  margin-bottom: 0;
}

/**
 * CKEditor
 */
.cke_chrome,
.cke_top,
.cke_float .cke_top,
.cke_bottom,
.cke_panel,
.cke_panel_grouptitle,
.cke_menuseparator {
  border-color: #e5e5e5 !important;
}

/**
 * Recaptcha
 */
.rc-anchor-light.rc-anchor-normal {
  border-color: #e5e5e5 !important;
  border-radius: 0 !important;
}