/**
 * @file
 * Discrete, reusable UI elements.
 */
a,
.uk-link {
  color: #1f6f9e;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
a:focus,
a:hover,
.uk-link:focus,
.uk-link:hover {
  color: #0b5885;
}
.uk-alert-primary {
  background: #b5d7eb;
  color: #0b5885;
}
.uk-alert-success {
  background: #b4efd1;
  color: #1aae63;
}
.uk-alert-warning {
  background: #ffe3c0;
  color: #f89925;
}
.uk-alert-danger {
  background: #ffcfc0;
  color: #f85825;
}
.uk-nav-default>li.uk-nav-header>a {
  color: #222;
}
.uk-nav-default>li.uk-nav-header>a:focus,
.uk-nav-default>li.uk-nav-header>a:hover {
  color: #666;
}
.uk-offcanvas .uk-nav-default>li.uk-nav-header>a {
  color: #ddd;
}
.uk-offcanvas .uk-nav-default>li.uk-nav-header>a:focus,
.uk-offcanvas .uk-nav-default>li.uk-nav-header>a:hover {
  color: #999;
}
