/**
 * @file
 * Purely visual styling (“look-and-feel”) for a component.
 */

/**
 * Sidebar first
 */
.rcb-sidebar-left {
  background: #1f6f9e;
}
.rcb-sidebar-left .uk-navbar-item,
.rcb-sidebar-left .uk-link,
.rcb-sidebar-left a {
  color: #abc9cb;
  text-transform: uppercase;
  text-decoration: none;
}
.rcb-sidebar-left .uk-link:focus,
.rcb-sidebar-left .uk-link:hover,
.rcb-sidebar-left a:focus,
.rcb-sidebar-left a:hover {
  color: #fff;
}
.rcb-sidebar-left .uk-list-divider>li:nth-child(n+2) {
  margin-top: 0;
  padding-top: 10px;
  border: none;
}
.rcb-sidebar-left .uk-list-divider>li>a {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 30px;
  padding: 5px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #4c8cb2;
  background-color: transparent;
  color: #abc9cb;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.rcb-sidebar-left .uk-list-divider>li>a.is-active,
.rcb-sidebar-left .uk-list-divider>li.uk-active>a,
.rcb-sidebar-left .uk-list-divider>li>a:focus,
.rcb-sidebar-left .uk-list-divider>li>a:hover {
  color: #fff;
}
.rcb-sidebar-left .uk-list-divider>li>a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  width: 40px;
  background: #79a9c5;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.rcb-sidebar-left .uk-list-divider>li>a:hover::before {
  height: 2px;
  width: 80px;
  background: #fff;
}

/**
 * Search block form
 */
#search-block-form .form-item-keys {
  padding: 0 10px;
}
#search-block-form .form-item-keys input[type="search"],
#search-block-form .form-item-keys input[type="search"]:focus {
  border-color: transparent;
}
#search-block-form .form-actions button.uk-button {
  right: 18px;
}
#search-block-form .form-actions .uk-icon {
  color: #1f6f9e;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
#search-block-form .form-actions .uk-icon:focus,
#search-block-form .form-actions .uk-icon:hover {
  color: #0b5885;
}

/**
 * Nodes
 */
.node--teaser>h2.uk-text-lead a {
  text-decoration: none;
}
.node--metadata a,
.node--metadata .uk-link,
.node--metadata .uk-list>li>a {
  color: #666;
  font-size: 0.925rem;
  text-decoration: none;
}
.node--metadata a:focus,
.node--metadata a:hover,
.node--metadata .uk-link:focus,
.node--metadata .uk-link:hover,
.node--metadata .uk-list>li>a:focus,
.node--metadata .uk-list>li>a:hover {
  color: #000;
}
.node .field--name-body h3 {
  margin-top: 4rem;
}
.node .field--name-field-referenced-page {
  margin-bottom: 20px;
}

/**
 * Footnotes
 */
.node--references>h3 {
  margin: 0;
}
.node--references>hr {
  margin: 5px 0;
}
.node--references>.uk-list {
  margin-top: 0;
}
.node--references>.uk-list>.footnote {
  font-size: 0.9375rem;
  padding: 2px;
}
.footnote-reference:focus,
.node--references>.uk-list>.footnote:focus,
.node--references>.uk-list>.footnote.focused {
  background-color: #def;
  background-color: rgba(0, 127, 255, 0.133);
  outline: 0;
}
