/**
 * @file
 * Macro arrangement of a web page, including any grid systems.
 */
.rcb-sidebar-left {
  position: fixed;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  overflow: auto;
}
body.toolbar-horizontal .rcb-sidebar-left,
body.toolbar-vertical .rcb-sidebar-left {
  top: 39px;
}
body.toolbar-horizontal.toolbar-tray-open .rcb-sidebar-left {
  top: 78px;
}
.rcb-sidebar-left .uk-navbar-item,
.rcb-sidebar-left .uk-list-divider {
  max-width: 200px;
  margin: 0 auto;
  padding: 0;
}
.rcb-sidebar-left .uk-list-divider>li {
  position: relative;
}
@media (min-width: 960px) {
  .rcb-sidebar-left+.rcb-main {
    padding: 0 0 0 270px;
  }
}
@media (min-width: 1200px) {
  .rcb-sidebar-left+.rcb-main {
    padding-left: 280px;
  }
}
@media (min-width: 1400px) {
  .rcb-sidebar-left {
    width: 300px !important;
  }
  .rcb-sidebar-left+.rcb-main {
    padding-left: 340px;
  }
}

/**
 * Regions
 */
.rcb-main>footer {
  background-color: #f8f8f8;
}
.region-content,
.region-footer {
  padding: 0 15px;
}
.region-content,
.region-sidebar-second {
  margin-top: 20px;
}
.region-footer {
  margin-bottom: 20px !important;
}
.region-sidebar-second #user-login-form #edit-user-links {
  margin-bottom: 0;
}
.region-sidebar-second #user-login-form #edit-user-links a {
  display: block;
  float: none;
}
@media (min-width: 960px) {
  .rcb-main>main,
  .rcb-main>footer {
    padding-left: 15px;
  }
  .rcb-main>footer {
    padding-right: 15px;
  }
  .rcb-main>aside {
    padding-left: 30px;
    padding-right: 15px;
  }
  .region-content,
  .region-footer {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .region-sidebar-second #user-login-form #edit-user-links {
    margin-bottom: 0;
  }
  .region-sidebar-second #user-login-form #edit-user-links a.uk-float-left {
    float: left;
  }
  .region-sidebar-second #user-login-form #edit-user-links a.uk-float-right {
    float: right;
  }
}

/**
 * Blocks
 */
.block-page-title-block>h1.uk-article-title {
  margin-top: 0;
}

/**
 * Books
 */
.node--type-book .links::after {
  content: "";
  border-bottom: 1px solid #e5e5e5;
  margin-left: 20px;
  padding-bottom: 20px;
  width: 100%;
}
.rcb-book-navigation--tree {
  padding: 0 25px;
}
.rcb-book-navigation--tree *+.uk-grid-margin,
.rcb-book-navigation--tree .uk-grid>.uk-grid-margin {
  margin-top: 20px;
}
.rcb-book-navigation--links *+.uk-grid-margin,
.rcb-book-navigation--links .uk-grid>.uk-grid-margin {
  margin-top: 10px;
}
.rcb-book-navigation--tree a,
.rcb-book-navigation--links .uk-pagination>*>* {
  color: #999;
}
.rcb-book-navigation--tree a {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
.rcb-book-navigation--tree a:focus,
.rcb-book-navigation--tree a:hover,
.rcb-book-navigation--links .uk-pagination>*>*:focus,
.rcb-book-navigation--links .uk-pagination>*>*:hover {
  color: #666;
}

/**
 * Forms
 */
[id*=search-form] .form-item-language-und,
[id*=search-form] .form-item-language-zxx {
  display: none;
}
[id*=search-block-form] .form-actions {
  margin: 0 !important;
}
