/* Discrete, reusable UI elements. */

/**
 * UIkit components.
 */
.uk-button-primary,
.uk-section-primary,
.uk-tile-primary,
.uk-card-primary,
.uk-badge,
.uk-label {
  background: #1f6f9e;
}
.uk-button-primary:focus,
.uk-button-primary:hover,
.uk-card-primary.uk-card-hover:hover {
  background: #0b5885;
}
a,
.uk-link,
.uk-button-link,
.uk-alert-primary,
.uk-notification-message-primary,
.uk-text-primary,
.uk-text-background {
  color: #1f6f9e;
}
.uk-link:focus,
.uk-link:hover,
.uk-button-link:focus,
.uk-button-link:hover,
a:focus,
a:hover {
  color: #0b5885;
}
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus,
.uk-checkbox:focus,
.uk-radio:focus,
.uk-tab>.uk-active>a {
  border-color: #1f6f9e;
}
.uk-checkbox:checked,
.uk-checkbox:indeterminate,
.uk-radio:checked,
.uk-subnav-pill>.uk-active>a,
.uk-background-primary {
  background-color: #1f6f9e;
}
.uk-checkbox:checked:focus,
.uk-checkbox:indeterminate:focus,
.uk-radio:checked:focus {
  background-color: #0b5885;
}
.uk-progress::-webkit-progress-value {
  background-color: #1f6f9e;
}
.uk-progress::-moz-progress-bar {
  background-color: #1f6f9e;
}
.uk-progress::-ms-fill {
  background-color: #1f6f9e;
}
@supports (-webkit-background-clip: text) {
  .uk-text-background {
    background-color: #1f6f9e;
  }
}
.uk-accordion-title::before {
  content: "";
  margin: 1px;
  width: 1.4em;
  height: 1.4em;
  float: left;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%3E%3C%2Frect%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.uk-open>.uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E");
}
.uk-accordion-title::after,.uk-open>.uk-accordion-title::after {
  display: none;
  background: none;
  float: none;
  height: 0;
  width: 0;
}
.uk-article-meta {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.uk-navbar {
  min-height: 80px;
}
.uk-navbar-center:not(:only-child) {
  z-index: 500;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #1f6f9e;
  color: #abc9cb;
}
.uk-navbar-container:not(.uk-navbar-transparent) a {
  color: #abc9cb;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  -webkit-transition-property: color;
  transition-property: color;
}
.uk-navbar-container:not(.uk-navbar-transparent) a:focus,
.uk-navbar-container:not(.uk-navbar-transparent) a:hover {
  color: #d9e7e8;
}
.uk-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
  color: #fff;
}
.uk-offcanvas-container,
.uk-offcanvas-page {
  overflow: hidden;
}
.uk-form-horizontal .form-item,
.uk-form-horizontal .form-actions {
  margin-bottom: 20px;
}
.uk-form-horizontal *+.form-item,
.uk-form-horizontal *+.form-actions {
  margin-top: 20px;
}
.uk-form-stacked>* {
  margin-bottom: 20px;
}
.uk-form-stacked>*+* {
  margin-top: 20px;
}

/**
 * Custom components.
 */
.rcb-icon {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  fill: currentcolor;
  line-height: 0;
}
.rcb-icon>* {
  transform: translate(0,0);
}
.rcb-icon [stroke*='#']:not(.rcb-preserve) {
  stroke: currentcolor;
}
[class*=region--sidebar]>.uk-section>.uk-container {
  padding-left: 20px;
  padding-right: 20px;
}
[class*=region--sidebar]>.uk-section>.uk-container>*:last-child ul {
  margin-bottom: 0;
}

/**
 * Drupal components.
 */
[id*=search-block-form] [id*=edit-actions] {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
}
[id*=search-block-form] #edit-keys--search-block-form {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  background: none;
  color: #e5e5e5;
  padding: 0 40px 0 0;
}
#edit-keys--search-block-form:-webkit-autofill,
#edit-keys--search-block-form:-webkit-autofill:hover,
#edit-keys--search-block-form:-webkit-autofill:focus {
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-text-fill-color: #e5e5e5;
  -webkit-box-shadow: 0 0 0 1000px #1f6f9e inset;
  transition: background-color 5000s ease-in-out 0s;
}
[id*=search-block-form] #edit-keys--search-block-form::-webkit-input-placeholder {
  color: #abc9cb;
}
[id*=search-block-form] #edit-keys--search-block-form:-ms-input-placeholder {
  color: #abc9cb;
}
[id*=search-block-form] #edit-keys--search-block-form::-moz-placeholder {
  color: #abc9cb;
  opacity: 1;
}
[id*=search-block-form] #edit-keys--search-block-form:-moz-placeholder {
  color: #abc9cb;
  opacity: 1;
}
[id*=search-block-form] #edit-submit--search-block-form {
  padding: 10px;
  height: 40px;
  width: 40px;
}
[id*=search-block-form] #edit-submit--search-block-form>.uk-icon {
  cursor: pointer;
}
.field--type-text-with-summary {
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}